.bounce{
    position:absolute;
    text-align: center;
    left:50%;
    transform: translate(-50%, -50%);
    font-family:fantasy;
    animation:bouncing 0.6s ease infinite alternate;
}

@keyframes bouncing{
    0% {
        transform:rotate(0deg);
        color:green;
        border-radius:0px;
        background-color: blue;
        font-size:50px;
        width:200px;
        height:200px;
    }
    100% {
        transform:rotate(360deg);
        color:red;
        border-radius:50%;
        background-color: pink;
        font-size:100px;
        width:1000px;
        height:1000px;
    }
}