.bounce{
    position:absolute;
    text-align: center;
    left:50%;
    transform: translate(-50%, -50%);
    font-family:fantasy;
    animation:bouncing 0.6s ease infinite alternate;
}

@keyframes bouncing{
    0% {
        transform: translateY(0px), rotate(0deg);
        color:green;
        border-radius:0px;
        background-color: blue;
        font-size:50px;
        width:200px;
        height:200px;
    }
    100% {
        transform: translateY(400px)rotate(10600deg);
        color:red;
        border-radius:50%;
        background-color: pink;
        font-size:100px;
        width:500px;
        height:500px;
    }
}

button {
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    color: #000000;
    border: 3px solid #008cff;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    background-color: #6d0dda;
}

button:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #6d0dda;
    border-right: 3px solid #6d0dda;
    border-bottom: 3px solid #6d0dda;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover {
    padding: 0.75rem 2.25rem;
}

button:hover:before {
    top: 0;
    left: 0;
}

body{
    background-color: bisque;
}